.zero-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.one-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: 1fr;
}
.two-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 1fr;
}
.three-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    grid-template-rows: 1fr;
}
.four-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr); 
    grid-template-rows: 1fr;
}
.five-container {
    display: grid;
    grid-template-columns: repeat(32, 1fr); 
    grid-template-rows: 1fr;
}

.selected {
    border: 5px solid steelblue;
}