.zero-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
}
.one-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
}
.two-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
}
.three-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
}
.four-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
}
.five-container {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
}

.message-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
}

.message {
  font-size: 36px;
  font-family: fantasy;
}

.selected {
  border: 1px solid steelblue;
  border: 2px solid steelblue;
}
